<section ng-controller="ListProductsController as vm" >
    <div style="height: 100px;"></div>
<div class="" style="background-color: white;border-radius:10px;padding-top: 20px; padding-bottom: 20px; margin-bottom: 20px;">
    <div style="text-align:center">
        <img style="height: 200px;display: inline-block" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgob1szt-fPez0CxVVPeH54X33OT5enlO-JegKu7_p19oqbT-Hh9BuDKamkKT8pianb6Y&usqp=CAU" alt="">
    </div>
    <div style="padding-left: 50px;">
        <h1>Đặt hàng thành công !</h1>
        <p style="font-size: 20px;">Chúng tôi đã nhận được đơn hàng của quý khách, đơn hàng này đang được xử lý.</p>
        <p style="font-size: 20px;">Trong vòng 30 phút( giờ làm việc), bộ phận bán hàng trực tuyến sẽ liên hệ lại Quý khách để xác nhận thời gian và địa điểm giao hàng.</p>
        <h3>Cảm ơn quý khách !</h3>
    </div>
    
</div>
</section>