<section class="row">
  <div style="height: 100px;"></div>
  <!-- <h3 class="col-md-12 text-center">Đăng nhập bằng tài khoản xã hội của bạn</h3>
  <div class="col-md-12 text-center">
    <div class="social-account-container social-button"><a class="btn"><img class="img-responsive" ng-click="#" ng-src="/modules/users/client/img/buttons/facebook.png"></a></div>
    <div class="social-account-container social-button"><a class="btn"><img class="img-responsive" ng-click="#" ng-src="/modules/users/client/img/buttons/twitter.png"></a></div>
    <div class="social-account-container social-button"><a class="btn"><img class="img-responsive" ng-click="#" ng-src="/modules/users/client/img/buttons/google.png"></a></div>
  </div>-->
  <div ui-view></div> 
</section>
